<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>Login Form</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">

<div th:if="${param.error}">
    <label style="color:red">Invalid username and password.</label>
</div>
<div th:if="${param.logout}">
    <label>
        You have been logged out.
    </label>
</div>

<form th:action="@{/boot/login}" method="post" class="form-horizontal">
    <fieldset>
        <legend>Login</legend>
            <div class="form-group">
                 <label for="inputUsername" class="col-md-2 control-label"> User Name :</label>
                 <div class="col-md-10">
                    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="user" />
                 </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"/>
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </fieldset>

</form>
</div>
</body>
</html>