<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">

        <nav class="navbar navbar-static-top"  style="color:white;background-color:black;padding:0;min-height:20px;margin-bottom:4px;" >

                    <a class="navbar-brand " href="#" th:href="@{/boot}">Home</a>
                    <a class="navbar-brand " href="#" th:href="@{/boot/map}">Map</a>
                    <ul class="nav">
                        <div sec:authorize="isAuthenticated()" class="text-right">

                        <form class="form-horizontal"
                              style="display:inline-block;position:absolute;right:20px;top:4px;color:white"
                              th:action="@{/boot/logout}" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                        </div>
                    </ul>
        </nav>

</div>
</div>
</body>
</html>